body {
  background: #cccccc; }

page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5); }

@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0; } }

#container {
  padding: 0;
  margin: 0;
  width: inherit;
  height: inherit;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  font-family: 'Lato'; }

.side-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5%; }

.left-col {
  width: 35%;
  height: inherit; }

.right-col {
  width: 65%;
  height: inherit; }

#left-page {
  width: 30%;
  height: inherit;
  background-color: #272725;
  color: #fff; }

#left-page h1 {
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.7em; }

#left-page h2 {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 0.95em;
  text-align: center; }

#left-page img {
  width: 120px;
  height: 138.5px;
  margin-top: 30px; }

#right-page {
  width: 70%;
  height: inherit;
  background-color: #FFFFFF; }

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0; }

#right-page h2 {
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase; }

#right-page h3 {
  font-size: 0.85em;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase; }

.right-col p {
  font-size: 0.7em;
  font-weight: 300;
  letter-spacing: 1px; }

.left-col p {
  font-size: 0.5em;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase; }

.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  width: inherit;
  height: auto;
  margin: 15px 0 15px 0; }

.box {
  display: flex;
  justify-content: center;
  align-items: center; }

.section {
  margin-bottom: 30px; }

#right-page hr {
  width: 100%;
  height: 2px;
  background-color: #272725;
  border: none; }

#left-page hr {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border: none; }
