html
  head
    link(href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    link(rel='stylesheet', href='css/style.css', type='text/css')
  body
    page(size='A4')
      #container
        #left-page
          .side-container
            br
            .box
              h1 Aran Long
            .box
              h2 software developer.
            br
            hr
            br
            br
            .box
              h1 SOCIAL
            br
            .box
              h2 email
            .box
              h2 hello@aranlong.co.uk
            br
            .box
              h2 tel
            .box
              h2 +447933 282564
            br
            .box
              h2 github
            .box
              h2 /aranscope
            br
            .box
              h2 web
            .box
              h2 aranlong.co.uk
            br
            .box
              h2 twitter
            .box
              h2 @aranscope
            br
            br
            br
            .box
              h1 Skills
            br
            .side-container
              .box
                h2
                  | Java, C/C++, NodeJS, Javascript, Haskell, OCaml, Python, Microservices/REST, Git, HTML, CSS3, Robotics.
              br
              br
              .box
                h2 Proven teaching and public speaking skils.
              br
              br
              .box
                h2 Experience in industry leading dev teams.
              br
              br
              .box
                h2 Event experience around the world.
        #right-page
          .side-container
            h2 experience
            hr
            section#experience.section
              .row
                .left-col
                  h3 InventiveCogs
                  p BIRMINGHAM, UK. ONGOING.
                .right-col
                  p
                    | Technical consultant. Developing architecture, platform and tooling requirements.
              .row
                .left-col
                  h3 autodesk ltd.
                  p BIRMINGHAM, UK. SUMMER 2016.
                .right-col
                  p
                    | Rewrote core XML reading and parsing libraries leading to 100% backend UNIX compatibility. Part of the most profitable team in manufacturing using C++14 standards.
              .row
                .left-col
                  h3 university
                  p BIRMINGHAM, UK. ONGOING.
                .right-col
                  p
                    | Giving talks and taught sessions on robotics to schools all over the UK. Student ambassador at open, applicant and CAS training days.
            h2 education
            hr
            section#education.section
              .row
                .left-col
                  h3 university of birmingham
                  p BIRMINGHAM, UK. 2015-2019.
                .right-col
                  p
                    | Studying for a Computer Science BSc w/ industrial placement. Achieved a 1st class grade (81%) in first year. Notably acheiving the highest grade in the year (100%) in both Robotics and the Language and Logic exam.
              .row
                .left-col
                  h3 st. brendan&apos;s sixth form
                  p BRISTOL, UK. 2013-2015.
                .right-col
                  p
                    | Achieved A* A A in A2 Maths , Physics and Computing. Achieved A A in AS Further Maths and Design and Tech. Led student robotics team to national quarter finals.
            h2 achievements
            hr
            section#achievements.section
              .row
                .left-col
                  h3 junction
                  p Helsinki, Fin. Nov, 2016.
                .right-col
                  p
                    | Deezer prize for developing &apos;BusOff!&apos;, a bus stop hack to let you dance with people around the world.
              .row
                .left-col
                  h3 brumhack
                  p Birmingham, UK. Nov, 2016.
                .right-col
                  p
                    | 1st place for developing &apos;see&apos;, a computer vision and natural language powered platform to help the blind see.
              .row
                .left-col
                  h3 hackupc
                  p Barcelona, ES. Oct, 2016.
                .right-col
                  p
                    | Best use of Amazon AWS Prize for developing notifi.click a no-cost notification platform using the Amazon Dash.
              .row
                .left-col
                  h3 hackmidlands
                  p Birmingham, UK. Oct, 2016.
                .right-col
                  p
                    | 2nd place finalists and the MajesticSEO prize for &apos;DanceAuth&apos;, shape slicing security.
              .row
                .left-col
                  h3 hacknotts
                  p Nottingham, UK. Nov, 2015.
                .right-col
                  p
                    | Best use of Capital One prize for &apos;StockMotion&apos;. An educational stock trading game using the Leap Motion.
              .row
                .left-col
                  h3 astonhack
                  p Birmingham, UK. Oct, 2015.
                .right-col
                  p
                    | 2nd place finalists, MLH and CapGemini prize for &apos;TwEAT&apos;. A Twitter visualisation tool based on agar.io.
              .row
                .left-col
                  h3 cisco
                  p Heathrow, UK. Oct, 2015.
                .right-col
                  p
                    | 1st place champions in the Cisco University Challenge for developing PermissionCloud, a Bitcoin inspired approach to IOT security.
            h2 projects
            hr
            section#projects.section
              .row
                .left-col
                  h3 travlr
                  p Ontario, CA. Sep, 2016.
                .right-col
                  p
                    | Developed machine learning travel app using Node, Express, React, JS. Likely provoked early release of Google Trips.
              .row
                .left-col
                  h3 gadget show
                  p Various, UK. Summer, 2016.
                .right-col
                  p
                    | Developed speed dating chatbot to feature on the UK TV series. I built the data entry stack and architected the project.
              .row
                .left-col
                  h3 robotics
                  p Birmingham, UK. Spring, 2016.
                .right-col
                  p
                    | Led a team of 10 developers in creating a prototype multi-robot autonomous warehouse system.
              .row
                .left-col
                  h3 geodonation
                  p Manchester, UK. Apr, 2016.
                .right-col
                  p
                    | A charity analytics platform using the Pebble smartwatch, QR scanning and an IOT donation box.
              .row
                .left-col
                  h3 aeronode
                  p Bristol, UK. Spring, 2015.
                .right-col
                  p
                    | A telemetric data logging platform for small-sized aircraft. Using a custom designed shield for the Arduino microcontroller.

