doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
        link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" type="text/css" href="css/style.css")

        title Aran Long - CV
        meta(name="description" content="placeholder")
        meta(name="author" content="placeholder")

    body
        page(size="A4")
            header
                h1.title Aran Long
                h2.subheading.subtitle Software Engineer
                .contact 
                    ul
                        li: a(href="tel:+447933282564")
                                i.fa.fa-phone
                                | (+44) 7933 282564
                        li: a(href="mailto:hello@aran.site")
                                i.fa.fa-envelope
                                | hello@aran.site
                        li: a(href="https://aran.site") 
                                i.fa.fa-globe
                                | aran.site
            main
                section.about
                    h4 Biography
                    p I am a final year Computer Scientist at the University of Birmingham, where I am completing a funded dissertation in Informal Vehicle Fleet Load Balancing. I am comfortable with the theretical and practical discipline, including Python, Java, full-stack web, robotics and moderate experience in C / C++ and functional languages.
                .container
                    .half.left
                        section.education
                            h4 Education
                            .subsection
                                h5
                                    i.fa.fa-fw.fa-graduation-cap
                                    | University of Birmingham
                                h6.subheading Computer Science BSc, 2015 - 2018
                                ul
                                    li Year 1 - 81%
                                    li Year 2 - 69.3%
                                    li Year 3 - 1:1 predicted
                            .subsection
                                h5
                                    i.fa.fa-fw.fa-graduation-cap
                                    | St. Brendan's Sixth Form
                                h6.subheading A-Levels, 2013 - 2015
                                p A2 - A* A A, AS - A A A A
                        section.experience
                            h4 Experience
                            .subsection
                                h5
                                    i.fa.fa-fw.fa-id-card
                                    | Goldman Sachs
                                h6.subheading Incoming Graduate Technical Analyst, July 2018
                            .subsection
                                h5
                                    i.fa.fa-fw.fa-id-card
                                    | UK Government
                                h6.subheading Blockchain Research Intern, Summer 2017
                                p Using Hyperledger fabric, GoLang, Node, Docker etc. to develop adaptation of MIT's 'blockcerts', verifying academic credentials on the blockchain.
                            .subsection
                                h5 
                                    i.fa.fa-fw.fa-cogs
                                    | Inventive Cogs
                                h6.subheading Technical Consultant, Sep 2016 - Present
                                p Developed internal microservices, worked on various patent pending optimisation strategies, completed funded dissertation which was presented to Bosch and the Department for Transport, helping to gain initial seed funding.
                            .subsection
                                h5
                                    i.fa.fa-fw.fa-file-code-o
                                    | Autodesk
                                h6.subheading C++ Software Engineer Intern, Summer 2016
                                p Rebuilt core XML abstract library, resulting in 100% backend UNIX compatibility. Implemented error checking into macro scripting.
                            .subsection
                                h5
                                    i.fa.fa-fw.fa-university
                                    | University of Birmingham
                                h6.subheading Student Ambassador, Nov 2015 – Sep 2016

                    .half.right
                        section.projects
                            h4 Awards / Projects
                            .subsection
                                h5
                                    i.fa.fa-fw.fa-id-badge
                                    | Pedalo
                                h6.subheading HackTheNorth - Waterloo, Canada, Sep 2017
                                p Ethereum blockchain based credential verification. Awarded "best use of blockchain", the highest value prize at the largest hackathon in Canada. Additionally received pre-seed grant from 1517fund - a Silicon Valley based fund.
                            .subsection
                                h5
                                    i.fa.fa-fw.fa-bus
                                    | BusOff
                                h6.subheading HackJunction - Helsinki, Finland, Nov 2016
                                p Awarded Deezer prize for developing a virality focussed interaactive game. Built motion service using Python, SocketIO, OpenCV.
                            .subsection
                                h5
                                    i.fa.fa-fw.fa-mouse-pointer
                                    | Notifi.Click
                                h6.subheading HackUPC - Barcelona, Spain, Oct 2016
                                p Awarded best use of Amazon AWS for developing a no-cost nofification system. Built using a microservices architecture and Dash buttons.
                            .subsection
                                h5
                                    i.fa.fa-fw.fa-television
                                    | Gadget Show
                                h6.subheading Birmingham, UK, Summer 2016
                                p Developed, with a team of 10, a speed dating chatbot that featured on the UK TV series. Built the data entry stack, architected the project.
                            .subsection
                                h5
                                    i.fa.fa-fw.fa-server
                                    | Cisco
                                h6.subheading Heathrow, UK, Oct 2015
                                p Awarded first-place prize for developing ‘Permission Cloud’. A Blockchain based IOT permissions system developed with Barclays.
                        section.certifications
                            h4 Certifications
                            .subsection
                                h5
                                    i.fa.fa-fw.fa-certificate
                                    | Pluralsight
                                h6.subheading Blockchain Fundamentals
